services:
  nonebot:
    image: derbay32/komari-bot-nonebot:latest
    ports:
      - 8502:8502
    volumes:
      - ./app/config:/app/config
      - ./app/user_data.db:/app/user_data.db
      - ./app/cache/huggingface:/root/.cache/huggingface  # fastembed 模型缓存
    env_file:
      - .env.prod
    environment:
      ENVIRONMENT: prod
      HOST: 0.0.0.0
      PORT: 8080
    restart: always