HOST=0.0.0.0
PORT=8080
DRIVER=~fastapi

# 用户数据插件配置
USER_DATA_DB_PATH=user_data.db
USER_DATA_DB_POOL_SIZE=5
USER_DATA_DATA_RETENTION_DAYS=30

# 命令格式
COMMAND_START=["。", "."]
COMMAND_SEP=[" "]

# 本地配置存储插件配置，默认存储于工作目录
LOCALSTORE_USE_CWD=true

SUPERUSERS=[]

# sentry 配置，不用可以不写，要用记得去掉注释
# SENTRY_DSN=