{
  "version": "1.0",
  "last_updated": "2026-05-28T20:53:00+08:00",
  "plugin_enable": false,
  "user_whitelist": [],
  "group_whitelist": [],
  "required_votes": 5,
  "vote_emoji_id": "76",
  "proposal_expire_hours": 2,
  "list_chunk_size": 20,
  "max_proposals_per_user": 5,
  "redis_db": 0
}
