{
  "version": "1.0",
  "last_updated": "2026-03-06T00:00:00+08:00",
  "plugin_enable": false,
  "dsn": "",
  "environment": "dev",
  "release": "",
  "debug": false,
  "error_sample_rate": 1.0,
  "traces_sample_rate": 0.0,
  "profiles_sample_rate": 0.0,
  "attach_stacktrace": true,
  "send_default_pii": false,
  "max_breadcrumbs": 100,
  "shutdown_timeout": 2.0,
  "breadcrumb_level": "INFO",
  "event_level": "ERROR"
}
